@charset "utf-8";
/* CSS Document */

* {
    margin: 0px;
    box-sizing: border-box;
	font-family: 'Comfortaa', sans-serif;
  }

nav, article, section, aside, header, footer, hgroup{
	display:block;
	font-family: 'Comfortaa', sans-serif;
}

body{
	width: inherit;
	font-family:Arial, Helvetica, sans-serif;
	color: #EF0107;
	background-color: whitesmoke;
	padding: 20px;
}

.container {
	position: relative;
	width: 70%;
	left: 20%;
  }
  
.image {
	display: block;
	width: 100%;
	height: auto;
  }
  
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #000000;
  }
  
.container:hover .overlay {
	opacity: 0.5;
}
  
.text {
	color: #EF0107;
	font-size: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

#weblink a:link{
	color: #EF0107;
	background-color: transparent;
	text-decoration: none;
}

#weblink a:visited{
	color: #063672;
	background-color: transparent;
	text-decoration: none;
}

#weblink a:hover{
	color: #DB0007;
	background-color: transparent;
	text-decoration: underline;
}

#weblink a:active{
	color: whitesmoke;
	background-color: transparent;
	text-decoration: underline;
}

.previous {
	color: #063672;
  }

.previous:hover {
	color:#DB0007;
}

.centeralign {
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
	height:100%;
}

.center {
    margin: auto;
    width: 70%;
    border: none;
    padding: 10px;
	height:100%;
}

.centerindex {
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
	height: max-content;
	color: #DB0007;
}

.centerindex hr{
	background-color:#DB0007;
	border-color:#DB0007;
	color:#DB0007;
	height:1px;
	border:0;
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
  }
  
  div.gallery:hover {
	border: 1px solid #DB0007;
	color:#DB0007;
  }

  .gallerycontainer{
	position: relative;
	width: 100%;
	max-width: 400px;
  }

  /* The overlay effect - lays on top of the container and over the image */
.galleryoverlay {
	position: absolute;
	bottom: 0;
	background: rgb(219, 0, 7);
	background: rgba(219, 0, 7, 0.5); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .gallerycontainer:hover .galleryoverlay {
	opacity: 1;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }

.contactcenter {
    margin: auto;
    width: 100%;
    border: none;
    padding: 10px;
	height:100%;
}

.contactindex {
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
	height: max-content;
	color: #063672;
}

.contactindex a{
	color: whitesmoke;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }

  .fa-linkedin {
	background: #007bb5;
	color: white;
  }

  .fa-instagram {
	background: #125688;
	color: white;
  }

.bgcolorwhite{
	background-color: whitesmoke;
}

video{
	margin-top: 10px;
	margin-left: 10px;
}

legend{
	font-size: 50px;
	font-weight: bold;
	color: black;
}
header{
	height: 200px;
	text-align: center;
	color:whitesmoke;
	width: inherit;
}

#logo{
	float: none;
	margin-top: 10px;
	margin-left: 50px;
}
#navbar {
	text-align: center;
	padding: 20px;
	background-color:whitesmoke;
	overflow:hidden;
	font-size: large;
	z-index: 9;
}

#navbar a {
    font-weight: bold;
    color: #DB0007;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
	border: hidden;
	transition: 0.3s;
}
#navbar a:hover {
    background-color: #DB0007;
    color: whitesmoke;
}

#navbar li{
	list-style-type: none;
	padding-bottom: 20px;
}

#navbar ul{
	margin-top: 55px;
	border-radius: 0px 0px 0px 50px;
	box-shadow: -3px 3px 5px skyblue;
	height: 325px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 60px;
  }

.indexarticle{
	color: black;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: center;
}

.avatar {
    vertical-align: middle;
	margin-top: 50px;
    width: 10%;
    border-radius: 50%;
}

/* Center website */
.main {
	max-width: 1000px;
	margin: auto;
  }
  
  h1 {
	font-size: 50px;
	word-break: break-all;
  }
  
  .row {
	margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
	padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
	float: left;
	width: 50%;
	color: #063672;
  }

  .column hr{
	background-color:#063672;
	height:1px;
	border:0;
  }

  .lencolumn{
	width: 100%;
	float:left;
  }

  .column video {
	width: 90%;
	padding-left:20%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Content */
  .content {
	background-color: none;
	padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
	.column {
	  width: 50%;
	}

	.mySlides video{
		height:350px;
		width:350px;
	}

	.column video{
		height:180px;
	}

	div.gallery {
		margin: 5px;
		border: 1px solid #ccc;
		float: left;
		width: 280px;
	  }

	  .slideshow-container {
		max-width: 50%;
		position: relative;
		margin: auto;
	  }

	  .column video {
		width: 100%;
		padding:10px;
	  }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	}

	.mySlides video{
		height:250px;
		width:250px;
	}

	video{
		height:250px;
	}

	.slideshow-container {
		max-width: 100%;
		position: relative;
		margin: auto;
	  }

	  .column video {
		width: 100%;
		padding:10px;
	  }
  }

	
footer{
	background-color: whitesmoke;
	font-size: 12px;
	padding:10px;
	clear: both;
	text-align:center;
	}

a{
	color:black;
	text-decoration: none;
	font-weight: bold;
}

#copyright{
	font-weight: bold;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: gray;
}

/* Slideshow container */
.slideshow-container {
	max-width: 30%;
	position: relative;
	margin: auto;
  }

  .slideshow-portfolio {
	max-width: 70%;
	position: relative;
	margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color:  white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }